@media (max-width: 900px) {
    #page-home{
        background-position-x: 70vw
    }

    #page-home .content{
        align-items: center;
        text-align: center;
    }

    #page-home header a.collect-point{
        position: absolute;
        bottom: 48px;
        left: 400px;
        transform: translateX(-50%);
    }

    #page-home main{
        align-items: center;
    }

    #modal .content{
        width: 75vw;
    }

    #page-search-results .cards{
        grid-template-columns: 1fr;
    }

    #page-search-results .card img{
        width: 80%;
        height: 80%;
    }
    #page-create-point form .field-group{
        flex-direction: column;
    }
    #page-create-point form .field-group .field + .field{
        margin-left: 0px;
    }
}

@media (max-width: 500px){
    #page-home header a.collect-point{
        position: absolute;
        bottom: 0px;
        left: 180px;
    }

    #modal .content{
        width: 313px;
    }

    #page-create-point form .field-group .field + .field{
        margin-left: 0px;
    }

    #page-create-point .items-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
    }

    #page-create-point form{
        margin-left: -32px;
    }

}

@media(min-width: 1700px) {
    #page-home{
        background-position-x: 40vw
    }
}

@media(max-height: 760px) {
    #page-home{
        background-position-y: 200px
    }
}